:root {
  --black-clr: #000000;
  --accent-clr: #ff0000;
  --grey-clr: #727171;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
}

.infoDiv {
  text-align: center;
  font-size: 1.2rem;
}

.diceDiv {
  margin: 1rem auto;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.diceDiv img {
  border-radius: 10%;
  width: clamp(32px, 15%, 150px);
}

.diceDiv img:hover {
  background-color: red;
}

.buttonDiv{
  margin: 1rem;
  display: flex;
  justify-content: center;
}

button {
  padding: 1em 2em;
  border-radius: 1rem;
  background-color: var(--black-clr);
  color: var(--accent-clr);
  font-weight: bold;
  text-transform: uppercase;
}

button + button {
  margin-left: 1rem;
}

.keepDice {
  background-color: var(--grey-clr);
  opacity: 0.75;
}

button:hover {
  outline: red solid 0.1rem;
}